body {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;  
}
.header-container, .post-container, .footer-container{
    width:1060px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 50px;
}
.header-left, .header-right {
    height: 50px;
    width: 50%;
    float: left;
    position: relative;
}
.header-right {
    text-align: right;
}
.header-right a { 
    color: gray;
    padding-left: 10px;
 }
.inline{
    display:inline;
}
.post {
    text-align: center;
}
 .post p{
    text-align: left;
 }
 .footer p{
    text-align: center;
 }
 .footer {
    color: gray;
 }

 button {
    background: #5acbf4;
 }
 .date {
    color: gray;
 }
 h1 {
    line-height: .3;
 }