html, body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    font-weight: 100;
}
.container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.main {
    position: relative;
    text-align: center;
}
.main p:first-of-type {
    font-size: 30px;
}

.maincontent {
    margin-top: 0;
    position: relative;
    display: inline-block;
    width: 21%;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.2em;
}
.navbar {
    font-weight: 100;
    position: absolute;
    float: left;
    width: 90%;
    text-align: right;
    color: white; 
    display: block;
    margin-top: 40px;
    font-size: 12px;
    word-spacing: 3em;
}
.topimg {
    height: 673px;

    background-image: url("img/atl.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logodiv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 240px;
    height: 50%;
    width: 50%;

}
.logo {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.logotext {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
}

.title {
    text-align: center;
    font-size: 45px;
    line-height: .1px;

}
.arrowwrap {
    width: 1%;
    margin: 0 auto;
}

.arrow {
    padding-top: 70px;
    height: 10px;

}

.footer {
    padding-top: 60px;
    word-spacing: 5em;
    color: white;
    margin-top: 110px;
    height: 90px;
    background-color: #5f6266;
    text-align: center;
}

.footer p{
    padding-top: 40px;
    font-size: 10px;
    color: lightgray;
    word-spacing: .1em;
}